
.shadowBlock {
    margin-top: 50px;
    width: 240px;
    height: 240px;
    background: rgb(19, 19, 19);
    box-shadow: inset 0px 0px 20px white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shadowBlock img {
    margin-top: 70px;
    width: 250px;
    height: 250px;
  }

  @media (max-width: 768px){
    
    .shadowBlock{
      margin-top: 328px;
      margin-left: 17%;
    }
    
    

    
}
